body {

}

textarea {
    resize: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 300px;
}

.btn{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    transition: background-color ease-in .3s;
}
.btn:active{
    background-color: darkgrey;
}
.active {
    background-color: darkgrey;
}
.keyboard__inner{
    max-width: 600px;
}
.space {
    width: 154px;
}
.shift{
    width: 82px;
}
.keyboard__row{
    display: flex;
    justify-content: space-between;
}